@use "sass" as *;

.header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;

    @include tablet {
        height: 68vh;
    }

    @include mobile {
        height: 100vh;
    }

    &__container {
        width: 90% !important;
        height: 100%;
        text-align: center;
        position: relative;

        & > h5 {
            @include keyframes(textChange);

            @include animate(textChange, 1s, linear, 0s, infinite);
        }
    }

    & .download-cv {
        margin-top: 2.5rem;

        display: flex;
        justify-content: center;
        gap: 1.2rem;
    }

    & .header__socials {
        @include flex(center, center) {
            gap: 0.8rem;
            flex-direction: column;

            @include mobile {
                display: none;
            }
        }

        left: 0;
        bottom: 3rem;
        position: absolute;

        &::after {
            content: "";
            width: 1px;
            height: 2rem;
            background-color: $primary;
        }
    }

    & .me {
        background: linear-gradient($primary, transparent);
        width: 22rem;
        height: 60vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        margin-top: 3.5rem;
        border-radius: 12rem 12rem 0 0;
        overflow: hidden;
        padding: 5rem 1.5rem 1rem;
    }

    & .scroll__down {
        position: absolute;
        right: -2.3rem;
        bottom: 5rem;
        font-size: 0.9rem;
        font-weight: 200;
        transform: rotate(90deg);

        @include mobile {
            display: none;
        }
    }
}
