@use "sass" as *;

nav {
    width: max-content;
    padding: 0.7rem 1.7rem;
    background: rgba(88, 88, 88, 0.4);
    z-index: 2;
    position: fixed;

    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(10px);

    a {
        background-color: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color: $light;
        font-size: 1.1rem;

        &:hover {
            background: rgba(0, 0, 0, 0.1);
        }

        &.active {
            color: $bg-color;
            background-color: $primary;
        }
    }
}
